img{
max-width: 30%;
  height: auto;
}

body{
    text-align: center;
    background-color:#FFEE8C;
}

button{
    display: block;
  margin: 0 auto;
      border-radius: 10px;
    font-size: 1.5vw;
}

h1{
  font-size: 4w;
}

h3{
  font-size:1.8vw;
}

p{
  font-size: 1.5vw;
}

div{
  margin-bottom: 0;
}

form{
  font-size: 1.5vw;
}

a {
    text-decoration: none;
}